@model Core.Models.Cafe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cafe</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produtor" class="control-label"></label>
                <input asp-for="Produtor" class="form-control" />
                <span asp-validation-for="Produtor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="control-label"></label>
                <input asp-for="PublishedDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="PublishedDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCafe" class="control-label"></label>
                <input asp-for="NomeCafe" class="form-control" />
                <span asp-validation-for="NomeCafe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Regiao" class="control-label"></label>
                <input asp-for="Regiao" class="form-control" />
                <span asp-validation-for="Regiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impressoes" class="control-label"></label>
                <input asp-for="Impressoes" class="form-control" />
                <span asp-validation-for="Impressoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de cafés</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
