<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using Core.Models

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AmantesCafé </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Cafes1" asp-action="Index"><img src="https://storagevik.blob.core.windows.net/cafecontainer/LogoAmantesCafe.png" width="100" height="100" align="left" /></a>

                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="listusers">Usuários</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Regiaos" asp-action="Index">Regiões</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Produtors" asp-action="Index">Produtores</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Cafes1" asp-action="Index">Cafés</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Cafecomments" asp-action="Index">Comentários</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Midias1" asp-action="Index">Mídias</a>




                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />

                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CafeJWTMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
