@model IEnumerable<Core.Models.Produtor>

<p>
    <a asp-action="Create" class="btn btn-sm btn-secondary">
        Cadastrar Produtor
    </a>
    
</p>
<table class="table">
    @foreach (var item in Model)
    {

        <div class="card mb-3">
            <div class="card-header">
                <a style="float:right;" class="btn btn-sm btn-light" asp-action="Delete" asp-route-id="@item.ProdutorId">
                    Excluir Produtor
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <div>
                        Id : @Html.DisplayFor(modelItem => item.ProdutorId)

                    </div>
                </h5>
                <div>
                    Produtor :  @Html.DisplayFor(modelItem => item.ProdutorName)
                </div>
            </div>
        </div>
       
    }

</table>
