@model IEnumerable<Core.Models.UserInfo>

@{ 
    ViewBag.Title = "Usuários";
}

@if (Model.Any())
{
    foreach (var user in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            User Id : @user.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <div>
                                    Usuário : @user.UserName
                                </div>
                            </h5>
                            <div>
                                Café Favorito : @user.CafeFavorito
                            </div>
                        </div>
                    </div>
                }
}
else
{
    
}